.hamburger {
  width: 24px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  display: none;
  cursor: pointer;
  &__plank {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 10px;
    transition: .4s;
  }
  &--theme--black .hamburger__plank {
    background: #000;
  }
  &--active { 
    .hamburger__plank {
      background: #fff;
      &:nth-child(1){
        opacity:0;
      }
      
      &:nth-child(2){
        transform:rotate(45deg);
      }
      
      &:nth-child(3){
        transform:rotate(-45deg) translateY(-6px) translateX(5px);
      }
    }
  }
  @include tablets {
    display: inline-flex;
    position: fixed;
    top: rem(35px);
    right: rem(30px);
    z-index: 100;
  }
}