.fixed-menu {
  position: fixed;
  top: 50%;
  right: 3%;
  z-index: 500;
  transform: translateY(-50%);
  @include tablets{
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: rem(5px);
  &:last-child {
    margin-bottom: 0;
  }
  &--active {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
}

.fixed-menu__link {
  width: rem(16px);
  height: rem(16px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;

  &:hover {
    border-color: #fff;
    &:before {
      background-color: $bg-button;
    }
  }

  &:before {
    content: '';
    display: block;
    width: rem(9px);
    height: rem(9px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}