$color-header: #292929;
$color-text: #666;
$bg-button: #FEDB3F;
$bg-cirle-color: #F2F5F4;
$size-h1-h2: 48px;
$size-h3: 32px;

* {
  box-sizing: border-box;
}

body  {
  font: 400 18px/1.42 'Alegreya Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-smoothing: grayscale;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 18px;
  color: $color-text;
}

.wrapper {
  overflow: hidden;
  min-width: 1140px;
  height: 100%;
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 990px;
}

section {
  width: 100vw;
  height: 100vh;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
}

h1 {
  color: #000;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  font-size: $size-h1-h2;
}

h2 {
  @extend h1;
  text-align: center;
} 

h3 {
  @extend h1;
  font-size: $size-h3;
}

.button {
  font-size: 16px;
  font-weight: 800;
  background: $bg-button;
  padding: 21px 41px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  border: none;
  &:hover {
    color: $bg-button;
    background: #000;
    cursor: pointer;
    transition: .5s;
  }
  &--theme--transparent {
    font-weight: normal;
    background: transparent;
    color: #fff;
    text-transform: none;
    &:hover {
      background: transparent;
      ;
    }
   
  }
}