.footer {
  padding: rem(18px) 0;
  background: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  opacity: .9;
  
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  font-size: rem(21px);
}

address {
  color: black;
  font-style: normal;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  width: rem(20px);
  height: rem(20px);
  margin-right: 14px;
  display: flex;
  align-items: center;
  &:last-child {margin-right: 0;}
}

// @each $social in (in, fb, vk, in) {}