.footer {
  padding: rem(18px) 0;
  background: #ffffff;
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  z-index: 9999;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include phones {
    flex-direction: column;
  }
}

.footer .phone {
  @include phones {
    display: flex;
    justify-content: center;
  }
}

.footer__address {
  font-size: rem(21px);
  @include phones {
    margin-bottom: 3%;
  }
}

address {
  color: black;
  font-style: normal;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 14px;
  display: flex;
  align-items: center;
  transition: .5s;
  &:last-child {margin-right: 0;}
}

@keyframes zoom {
  from {
    transform: scale(1.0);
  }

  20% {
    transform: scale(1.3);
  }

  40% {
    transform: scale(1.5);
  }

  60% {
    transform: scale(1.1);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.social__icon {
  width: rem(20px);
  height: rem(20px);
  fill: #B3B3B3;
  &:hover {
    fill: $color-header;
    animation: zoom 1s ease-in forwards;
  }
}