.hero {
  background: url("./../images/hero/bg.jpeg") center center no-repeat;
  background-size: cover;
  background-color: silver;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 100%;
    background-color: #1968b1;
    opacity: .25;
    z-index: 1;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding: rem(28px) 0 rem(36px) 0;
  position: relative;
  z-index: 10;
  @include tablets {
    padding: 0;
    width: auto; //или 100% 
  }

}

.hero__icons-section {
  @include tablets {
    display: none;
  }
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  @include tablets {
    background: #1968B1;
    padding: rem(25px) rem(30px);
  }
}

.header .hero__phone {
  @include tablets {
    display: none;
  }
}

.logo {
  fill: #fff;
  width: rem(56px);
  height: rem(40px);
}

.menu {
  margin: 0 rem(15px);
  padding-top: rem(3px);
  @include tablets {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu__item {
  margin-right: rem(22px);
  margin-bottom: rem(10px);
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    text-decoration: underline;
  }
}

.phone {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  white-space: nowrap;
  color:#fff;
  &--color--black--fw--normal {
    color: black;
    font-weight: normal;
  }
}

.phone__icon {
  flex-shrink: 0;
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
  fill: #fff;
  &--fill--black {
    fill: #000;
  }
}

.hero__title-section {
  width: 50%;
  @include tablets {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.hero__title {
  color: #fff;
  margin-bottom: rem(20px);
}

.hero__title-desc {
  font-size: rem(21px);
  color: #fff;
  margin-bottom: rem(35px);
  @include tablets {
    padding: 0 10%;
  }
}

.features {
  display: flex;
}

.feature {
  display: flex;
  align-items: center; //подумать
}

.feature__item {
  margin-right: rem(35px);
  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  margin-right: rem(15px);
  width: rem(35px);
  height: rem(35px);
  fill: #fff;
}

.feature__text {
  font-size: rem(16px);
  color: #fff;
  width: rem(90px);
  font-weight: 700;
}