.hero {
  background: url("./../images/hero/bg.jpeg") center center no-repeat;
  background-size: cover;
  background-color: silver;
  position: relative;

  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 99%;
    height: 100%;
    background-color: #1968b1;
    opacity: .25;
    z-index: 1;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  padding: rem(28px) 0 rem(36px) 0;
  position: relative;
  z-index: 10;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  fill: #fff;
  width: rem(56px);
  height: rem(40px);
}

.menu__list {
  display: flex;
  align-items: center;
  
}

.menu__item {
  margin-right: rem(22px);
  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.phone {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 700;
  color:#fff;
  &--color--black--fw--normal {
    color: black;
    font-weight: normal;
  }
}

.phone__icon {
  width: rem(12px);
  height: rem(12px);
  margin-right: rem(6px);
  fill: #fff;
  &--fill--black {
    fill: #000;
  }
}



.hero__title-section {
  width: 40%;
}

.hero__title {
  color: #fff;
  margin-bottom: rem(20px);
}

.hero__title-desc {
  font-size: rem(21px);
  color: #fff;
  margin-bottom: rem(35px);
}

.features {
  display: flex;
}

.feature {
  display: flex;
  align-items: center; //подумать
}

.feature__item {
  margin-right: rem(35px);
  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  margin-right: rem(15px);
  width: rem(35px);
  height: rem(35px);
}

.feature__text {
  font-size: rem(16px);
  color: #fff;
  width: rem(90px);
  font-weight: 700;
}