.order-section {
  background: url("./../images/order/bg.jpeg") center center no-repeat;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: .7;
    z-index: 1;
  }
}

.order-container {
  position: relative;
  z-index: 10;
}

.form {
  display: flex;
  color: #fff;
  @include tablets {
    flex-direction: column;
    padding: 0 15%;
  }
  @include phones {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: rem(25px);
  margin-bottom: rem(12px);
  &:last-child {
    margin-bottom: 0;
  }
  @include tablets {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(12px);
  &:last-child {
    margin-bottom: 0;
    @include tablets {
      justify-content: center;
    }
  }
}

.form__block {
  flex: 1;
  margin-right: rem(15px);
  &:last-child {
    margin-right: 0;
  }
}

.form__input {
  width: 100%;
  border: none;
  padding: rem(18px) rem(12px);
  border: rem(3px) solid transparent;
  &--error {
    border-color: #ff0000;
  }
  &--textarea {
    height: rem(152px);
    resize: none;

    @include tablets {
      height: rem(80px);
    }
  }

  &:focus {
    border-color: $bg-button;
    outline: none;
  }
  @include tablets {
    padding: rem(9px) rem(6px);
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(20px);
  @include phones {
    justify-content: center; //dont work
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.radio {
  margin-right: rem(15px);
  display: flex;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  &:last-child {
    margin-right: 0;
  }

  &--checkbox {
    .radio__visible {
     border-radius: 0;
      &:before {
        border-radius: 0;
      }
    }
  }
}

.radio__elem {
  display: none; //not good
  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio__visible {
  margin-right: 10px;
  width: rem(26px);
  height: rem(26px);
  border-radius: 100%;
  position: relative;
  background: #fff;
  &:before {
    content: '';
    display: none;
    width: rem(14px);
    height: rem(14px);
    background-color: $bg-button;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}

.form__buttons {
  margin-top: rem(20px);
}

.message {
  width: rem(310px);
  height: rem(176px);
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 1;
}

.message__info {
  color: #000;
  font-weight: 500;
  margin-bottom: rem(18px);
}