.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  margin-bottom: rem(50px);
  &--color--white {
    color: #fff;
  }
}

.headline {
  text-align: center;
  margin-bottom: rem(50px);
}

.headline__title {
  margin-bottom: rem(17px);
}

.headline__desc {
  padding: 0 28%;
  @include tablets {
    padding: 0 22%;
  }
  @include phones {
    padding: 0 7%;
  }
 }

.benefits {
  display: flex;
  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  &:first-child {padding-left: 0;}
  &:last-child {
    padding-right: 0;
    &:before {
      display: none;
    }
  }
  &:before {
    content: url('./../images/why/separator.png');
    position: absolute;
    top: 20%;
    right: 0;
    transform: translateX(50%);
    @include tablets {
      display: none;
    }
  }
  @include phones {
    margin-bottom: rem(30px);
    padding: 0;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.benefit {
  text-align: center;
  @include phones {
    display: flex;
    text-align: left;
  }
}

.benefit__img {
  @include phones {
    margin-right: rem(12px);
  }
}

.benefit__img-wrap {
  display: inline-block;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  border-radius: 50%;
  background: #F2F5F4;
  overflow: hidden;
}

.benefit__icon {
  fill: #000;
  position: absolute;
  width: rem(68px);
  height: rem(68px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.benefit__title {
  color: #000;
  font-size: rem(27px);
  font-weight: 700;
  margin-bottom: rem(17px);
}