.footer {
  padding: 18px 0;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__address {
  font-size: 21px;
}

address {
  color: black;
  font-style: normal;
}

.social__list {
  display: flex;
  align-items: center;
}

.social__item {
  width: 20px;
  height: 20px;
  margin-right: 14px;
  display: flex;
  align-items: center;
}
.social__item:last-child {
  margin-right: 0;
}
